#THIS FILE PUSHED FROM ANSIBLE
#version=DEVEL

#Firewall configuration
firewall --disabled

# Install OS instead of upgrade install
install

# Use FTP installation media
url --url="ftp://192.168.40.180/pub/repo"

# Root password
rootpw --iscrypted      $1$th8tTxYI$z0qaCuyXGx1uhuDfj9MDy.


# System authorization information
auth useshadow passalgo=sha512

# Use graphical install graphical
firstboot disable

#System keyboard
keyboard us

#System language
lang en_US

#SELinux configuration
selinux disabled

#Installation logging level
logging level=info

#System timezone
timezone "America/New_York"

#System bootloader configuration
bootloader location=mbr
clearpart --all --initlabel
autopart --type=lvm

#System Services
services --enabled="chronyd"

#Packages to install
%packages
@^minimal
@core
chrony
bind-utils
vim
man
man-pages
mlocate
sysstat
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
