#THIS FILE WAS PUSHED FROM ANSIBLE
default menu.c32
prompt 0
timeout 30
MENU TITLE ######## PXE Menu #########
LABEL 1
MENU LABEL ^1) Install CentOS 7
KERNEL /networkboot/centos7/vmlinuz
APPEND initrd=/networkboot/centos7/initrd.img inst.repo=ftp://192.168.40.180/pub ks=ftp://192.168.40.180/pub/centos7.cfg

LABEL 2
MENU LABEL ^2) Install CentOS 6
KERNEL /networkboot/centos6/vmlinuz
APPEND initrd=/networkboot/centos6/initrd.img inst.repo=ftp://192.168.40.180/pub/CentOS6 ks=ftp://192.168.40.180/pub/centos6.cfg
